<ion-view title="Бонус">
    <ion-content  ng-class="'red'" overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 11%;"></div>
        <div class="title bonus center">
           БОНУС!
        </div>
        <div class="spacer" style="width: 283px; height: 10%;"></div>
        <div class="center">
          <h1 class="bonus points">+10</h1>
          <div class="bonus text">балів</div>
          <input type="button" class="form red" value="Круто ;)" ng-click="ok()"/>
        </div>
    </ion-content>
</ion-view>
