<ion-view title="Гра"">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div style="height: 100%; width: 100%" class="hide-on-landscape">
        <div class="countdown-timer"  ng-model="timeRemainPercents" ng-style="{width:timeRemainPercents + '%'}"></div>
        <div class="game">
          <div class="image-block">
            <div class="center main-image">
              <img ng-src="https://kinobox.in.ua/frames/{{getCurrentSlide().frames[0].image}}" width="100%" height="auto">
            </div>
            <table class="buttons-bar">
              <tr>
                <td>
                  <input type="button" class="form small" ng-disabled="!shift2IncorrectOptionsAllowed" ng-click="shift2IncorrectOptions()" ng-class="{disabled:!shift2IncorrectOptionsAllowed}" value="50/50"/>
                </td>
                <td>
                  <input type="button" class="form small" ng-disabled="!oneMoreImageAllovew" ng-click="getOneMoreImage()" ng-class="{disabled:!oneMoreImageAllovew}" value="{{translation.game.oneMore}}"/>
                </td>
                <td>
                  <input type="button" class="form small" ng-disabled="!sckipButtonAllovew" ng-click="skipBtn()" ng-class="{disabled:!sckipButtonAllovew}" value="{{translation.game.skip}}"/>
                </td>
              </tr>
            </table>
            <div class="progress-bar">
              <table class="progress">
                <tbody>
                <tr>
                  <td ng-repeat="slideData in progress track by $index" class="point"
                      ng-class="slideData.submit ?
                      {'correct' : slideData.correct,
                       'incorrect' : !slideData.correct} : {}">•</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="answers center">
            <div ng-repeat="variant in getCurrentSlide().options track by $index" class="variant col col-center" ng-click="submit(variant.id)">
              <a ng-class="variant.submit ?
                      {'correct' : variant.correct,
                       'incorrect' : !variant.correct} : {}" class="item balance-block">{{isUkrainianLang? variant.title_ua : variant.title_ru}}</a>
              <div class="subitem" ng-class="variant.submit ?
                      {'correct' : variant.correct,
                       'incorrect' : !variant.correct} : {}">{{variant.title_en}} ({{variant.year}})</div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 100%; width: 100%" class="hide-on-portrait">
        <div class="countdown-timer" style="height: 7%;" ng-style="{width:timeRemainPercents + '%'}"></div>
        <div class="game landscape" style="height: 93%; overflow: hidden; ">
          <div class=" image-block" style="height: 60%">
            <div class="row main-image" style="height: 100%; padding: 0">
              <ul class="buttons-bar landscape col">
                <li>
                  <input type="button" class="form small" ng-disabled="!shift2IncorrectOptionsAllowed" ng-click="shift2IncorrectOptions()" ng-class="{disabled:!shift2IncorrectOptionsAllowed}" value="50/50"/>
                </li>
                <li>
                  <input type="button" class="form small" ng-disabled="!oneMoreImageAllovew" ng-click="getOneMoreImage()" ng-class="{disabled:!oneMoreImageAllovew}" value="{{translation.game.oneMore}}"/>
                </li>
                <li>
                  <input type="button" class="form small" ng-disabled="!sckipButtonAllovew" ng-click="skipBtn()" ng-class="{disabled:!sckipButtonAllovew}" value="{{translation.game.skip}}"/>
                </li>
              </ul>
              <img class="col" ng-src="https://kinobox.in.ua/frames/{{getCurrentSlide().frames[0].image}}"  height="auto" style="width:60%;max-height: 100%">
              <div class="progress-bar col" style="height: 100%">
                <div class="landscape progress "  ng-repeat="slideData in progress track by $index" class="landscape-point"
                     ng-class="slideData.submit ?
                      {'correct' : slideData.correct,
                       'incorrect' : !slideData.correct} : {}" class="landscape-point-image" >
                  <img  ng-src="{{
                     slideData.submit ?  slideData.correct ? 'img/point-correct.png' : 'img/point-incorrect.png' : 'img/point.png'}}">

                </div>
              </div>
            </div>
          </div>
          <div class="answers center" style="height: 35%">
            <div  ng-repeat="variant in getCurrentSlide().options track by $index"
                    style="float: left "  class="variant col col-50" ng-click="submit(variant.id)" >
              <a ng-class="variant.submit ?
                      {'correct' : variant.correct,
                       'incorrect' : !variant.correct} : {}" class="item balance-block">{{isUkrainianLang? variant.title_ua : variant.title_ru}}</a>
              <div class="subitem" ng-class="variant.submit ?
                      {'correct' : variant.correct,
                       'incorrect' : !variant.correct} : {}">{{variant.title_en}} ({{variant.year}})</div>
            </div>
          </div>
        </div>
      </div>

    </ion-content>
</ion-view>
