<ion-view title="Гра">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="game">
          <div class="image-block">
            <div class="countdown-timer">
            </div>
            <div class="center main-image">
                <img ng-src="{{curentSlide.image}}" width="100%" height="auto">
            </div>
            <table class="buttons-bar">
              <tr>
                <td><input type="button" class="form small" value="50/50"/></td>
                <td><input type="button" class="form small disabled " value="ще кадр"/></td>
                <td><input type="button" class="form small" value="пропустити"/></td>
              </tr>
            </table>
            <div class="progress-bar">
              <table class="progress">
                <tbody>
                <tr>
                  <td ng-repeat="slideData in slides track by $index" class="point"
                      ng-class="slideData.submit ?
                      {'correct' : slideData.correct,
                       'incorrect' : !slideData.correct} : {}">•</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="answers center">
              <div ng-repeat="variant in curentSlide.variants track by $index" class="variant" ng-click="submit()" ><a class="item">{{variant}}</a></div>
          </div>
        </div>
    </ion-content>
</ion-view>
