<ion-view title="Гра">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>00:15</h4>
        <div style="text-align:center;">
            <img src="img/QxFjRuetSd2ikFx0gOBa_JiaWtdpQRbCU7VrLuRyW_56c4a13c1c711_1455726908.jpg" width="100%" height="auto">
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <form class="list">
            <ion-radio>Radio</ion-radio>
            <ion-radio>Radio</ion-radio>
            <ion-radio>Radio</ion-radio>
            <ion-radio>Radio</ion-radio>
        </form>
    </ion-content>
</ion-view>