<ion-view title="Вхід">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 53px;"></div>
        <div style="text-align:center;">
            <img src="img/KlPrhNSGQYe5wqMKljIN_0t3nct5gQOiHuYYSZKmy_logo.png" width="70%" height="auto">
        </div>
        <form class="center list">
            <div class="spacer" style="width: 283px; height: 26px;"></div>
            <h3 class="title">Авторизація</h3>
            <div>
                <label >
                    <input class="form" type="email" placeholder="Логін">
                </label>
                <label >
                    <input class="form" type="password" placeholder="Пароль">
                </label>
            </div>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="page1" class="form btn">Вхід</a>
        </form>
    </ion-content>
</ion-view>
