<ion-view title="Вхід">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="spacer" style="width: 100%; height: 11%;"></div>
      <div class="hide-on-landscape" style="height: 88%">
        <div class="spacer hide-on-keyboard-open" style="width: 283px; height: 11%;"></div>
        <div class="center">
          <img src="img/KlPrhNSGQYe5wqMKljIN_0t3nct5gQOiHuYYSZKmy_logo.png" width="70%" height="auto">
        </div>
        <div class="spacer hide-on-keyboard-open" style="height: 10%; height: 10vh;"></div>
        <form class="center list"  ng-submit="login(data)" novalidate>
          <h3 class="title">{{translation.login.authorization}}</h3>
          <div>
            <label>
              <input ng-model="data.username" key-focus class="form" type="email" placeholder="{{translation.login.login}}" required>
            </label>
            <label>
              <input ng-model="data.password" key-focus class="form" type="password" ng-minlength="6" placeholder="{{translation.login.password}}"
                     required>
            </label>
          </div>
          <a ng-click="login(data)" class="form btn">
            <ion-process-spinner processing="processingRequest" css-class="spinner-calm" spinner="crescent">{{translation.login.signin}}
            </ion-process-spinner>
          </a>
        </form>
      </div>
      <div class="hide-on-portrait" style="height: 88%;">
        <div style="height: 100%; width: 50%; float: right;">
          <div class="spacer" style="height: 27%;  height: 25vh;">&nbsp;</div>
          <div class="center">
            <img src="img/KlPrhNSGQYe5wqMKljIN_0t3nct5gQOiHuYYSZKmy_logo.png" width="70%" height="auto">
          </div>
        </div>
        <form class="center list" style="width: 50%; display: block" ng-submit="login(data)" novalidate>
          <h3 class="title">{{translation.login.authorization}}</h3>
          <div>
            <label>
              <input ng-model="data.username" key-focus  class="form" type="email" placeholder="{{translation.login.login}}" required>
            </label>
            <label>
              <input ng-model="data.password" key-focus class="form" ng-minlength="6" type="password" placeholder="{{translation.login.password}}" required>
            </label>
          </div>
          <a ng-click="login(data)" class="form btn"><ion-process-spinner processing="processingRequest" css-class="spinner-calm" spinner="crescent">{{translation.login.signin}}</ion-process-spinner></a>
        </form>
      </div>
    </ion-content>
</ion-view>
