<ion-view title="Головна">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="hide-on-landscape" style="height: 100%;">
      <div class="spacer " style="width: 283px; height: 5%;"></div>
      <div style="text-align:center;">
        <img src="img/KlPrhNSGQYe5wqMKljIN_0t3nct5gQOiHuYYSZKmy_logo.png" width="70%" height="auto">
      </div>

      <div class="spacer" style="width: 100%; height: 10%;"></div>
      <div class="lang-bar">
        <a class="form btn lag-button" ng-class="{selected  : isUkrainianLang}" ng-click="setLangUk()">УКР</a>
        <a class="form btn lag-button" ng-class="{selected  : !isUkrainianLang}" ng-click="setLangRu()">РУС</a>
      </div>
      <div class="spacer" style="width: 283px; height: 2%;"></div>
      <div style="text-align:center;">
        <img class="avatar"
             ng-src="{{ user.avatar.medium ? ('https://kinobox.in.ua/userdata/avatars/' + user.avatar.medium) : 'img/YqfvwO9qTwGYoppEdRad_VlFZD4ddQWm7Dbhe0o3f_no_avatar.jpg'}}">
      </div>
      <div class="spacer" style="width: 283px; height: 2%;"></div>
      <div class="center">
        <h1 class="username">{{user.name}}</h1>
        <h1 class="balance-block"><span class="title balance">{{user.balance}}</span>
          <!--TODO add all cases-->
          <ng-pluralize count="user.balance"
                        when=
                          "{0: '{{translation.main.marks}}',
                            1: '{{translation.main.point}}',
                           'other': '{{translation.main.points}}'}">
          </ng-pluralize>
        </h1>
      </div>
      <div class="center"><a ng-click="playBtn()" class="   button-icon button-small"><img
        class="  col col-25" ng-src="{{isUkrainianLang? 'img/play-btn.png' : 'img/play-btn-ru.png'}}" style="margin:  0 auto"></a></div>

      <div class="spacer hide-on-small" style="width: 283px; height: 4%;"></div>
      <a ng-click="logout()" class="logout button button-light button-icon button-block button-small"
         style="position: absolute; margin: 0; top: 90%; left: 45%;"> <img src="img/log-out.png" class="logout-icon"
                                                                           style="height:2rem; height: 7vw;"></a>
    </div>
    <div overflow-scroll="true" padding="true" class="has-header hide-on-portrait" style="height: 100%;padding: 2% 5%;">
      <div class="spacer" style="    height: 10px;    height: 3%;"></div>
      <div style="overflow: auto;">
        <div style="width: 60%; float: left;">
          <img src="img/KlPrhNSGQYe5wqMKljIN_0t3nct5gQOiHuYYSZKmy_logo.png" style="width: inherit; margin: 0 5px; margin: 0 0.5vw;" >
        </div>
        <div class="spacer" style="height: 20px; height: 5vh;"></div>
        <div   style="overflow: hidden;">
          <a class="form btn lag-button landscape"  ng-class="{selected   : !isUkrainianLang}" ng-click="setLangRu()">РУС</a>
          <a class="form btn lag-button landscape"  ng-class="{selected   : isUkrainianLang}" ng-click="setLangUk()">УКР</a>
        </div>
      </div>
      <div class="spacer" style="height: 140px; height: 20%;"></div>
      <div class="center" style="width: 100%; display: inline-grid;">
        <img class="avatar"   style="height: auto; float: left; margin: 0"  ng-src="{{ user.avatar.medium ? ('https://kinobox.in.ua/userdata/avatars/' + user.avatar.medium) : 'img/YqfvwO9qTwGYoppEdRad_VlFZD4ddQWm7Dbhe0o3f_no_avatar.jpg'}}"
             style=" display:block ; float: left;  height: 100%;">
        <div class="" style="width: 50%; margin: 0 auto;  text-align: left; padding-left: 4%;  float: left;">
          <h1 class="username ng-binding">{{user.name}}</h1>
          <h1 class="balance-block"><span class="title balance ng-binding">{{user.balance}}</span> {{translation.main.points}}</h1>
        </div>
        <a ng-click="playBtn()" class="center play-btn button button-icon button-small  ">

            <img class="play-btn-img" ng-src="{{isUkrainianLang? 'img/play-btn.png' : 'img/play-btn-ru.png'}}" style=" width: 10em; width: 15vw;">
         </a>
      </div>

      <div class="spacer" style=" height: 10%;"></div>
      <a ng-click="logout()" class="logout " style="    position: absolute;    top: 87%;
      left: 90%;">
        <img src="img/log-out.png" class="logout-icon " style="height:2rem; height: 7vh;"></a>

    </div>

  </ion-content>
</ion-view>
