<ion-view title="Головна">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/TjeKPmBTisVkm8Xx9QQQ_0t3nct5gQOiHuYYSZKmy_logo.png" width="70%" height="auto">
        </div>
        <div class="button-bar">
            <button class="button button-light button-block ">Укр</button>
            <button class="button button-light button-block ">Рос</button>
        </div>
        <div style="text-align:center;">
            <img src="img/YqfvwO9qTwGYoppEdRad_VlFZD4ddQWm7Dbhe0o3f_no_avatar.jpg" width="100px" height="100px">
        </div>
        <h2>UserName</h2>
        <h4>150</h4>
        <a ui-sref="game" class="button button-stable button-block ">Гра</a>
        <a ng-click="logout()" class="button button-light button-icon button-block button-small icon ion-android-exit"></a>
        {{response}}
    </ion-content>
</ion-view>
