$font-size:                             15px;
$font-color:                            #fff;

$form-border-size:                      2px;
$form-height:                           40px;

$form-margin:                           10px;
$form-margin-bottom:                    10px;
$form-margin-top:                       10px;
$form-padding:                          5px;
$form-line-height:                      $font-size + 5;

$play-btn-size:                         25vw;

$small-diff:                            10px;
$medium-diff:                           15px;
$large-diff:                            40px;
$largest-diff:                          60px;


$font-size-medium:                      $font-size + $medium-diff;
$border-size-large:                     $form-border-size;
$border-size-small:                     $form-border-size;
$font-size-small:                       $font-size;

/****** screen sizes ******/
$SCREEN-SMALL:                          319px;
$SCREEN-MEDIUM:                         479px;
$SCREEN-LARGE:                          719px;
$SCREEN-LARGEST:                        1200px;


/***** COLORS ******/
$MAIN_BACKGROUND_COLOR:                 #1a2125;
$MAIN_COLOR:                            #f45454; // old color d75151;
$MAIN_COLOR-ACTIVE:                     #c85656;
$MAIN_COLOR-DISABLED:                   $MAIN_BACKGROUND_COLOR;

/****** AVATAR *******/
$avatar-size :                          20%;

@import "./myStyles/forms-and-buttons";

.spinner.spinner-calm {
  stroke: #FFFFFF;
  fill: $MAIN_BACKGROUND_COLOR;
}

.spinner svg {
  width: 100%;
  height: 100%;
}
.red {
  background-color: $MAIN_COLOR;
}
.title{
  font-size: $font-size;
  margin-bottom: $form-margin-bottom;
  color: $MAIN_COLOR;
  margin-top: $form-margin-top;
}

.center{
  text-align: center;
}

.has-header {
  top: 0px;
}
.overflow-scroll{
  background: $MAIN_BACKGROUND_COLOR;
}

@media (max-width: $SCREEN-SMALL) {
  $diff: 1px;
  @import "./myStyles/responsive";

}

input.ng-invalid{
  border: solid #ffdad4;
}

/****** MEDIUM SCREEN ******/
@media  (max-width: $SCREEN-MEDIUM) and (min-width: $SCREEN-SMALL + 1) {
  $diff: $small-diff;
  @import "./myStyles/responsive";
}

/****** MEDIUM SCREEN ******/
@media  (max-width: $SCREEN-LARGE) and (min-width: $SCREEN-MEDIUM + 1) {
  $diff: $medium-diff;
  @import "./myStyles/responsive";
}

@media  (max-width: $SCREEN-LARGEST) and (min-width: $SCREEN-LARGE + 1) {
  $diff: $large-diff;
  @import "./myStyles/responsive";
}

@media  (min-width: $SCREEN-LARGEST + 1){
  $diff: $largest-diff;
  $font-size: $font-size - 10;
  @import "./myStyles/responsive";
}

.btn.lag-button{
  font-weight: 300;
}

.btn.lag-button.landscape {
  display: initial;
  float: right;
  margin: 0 3%;
}
