@import "game";
.btn{
  background: $MAIN_COLOR;
  vertical-align: middle;
  display: inline-block;
}

input.form{
  background: $MAIN_BACKGROUND_COLOR;
  border: $form-border-size solid white;

  @media  (max-width: $SCREEN-MEDIUM) and (min-width: $SCREEN-SMALL + 1) {
    border: $form-border-size - 1 solid white;
  }

  @media  (max-width: $SCREEN-SMALL) {
    border: $form-border-size - 2 solid white;
  }
}

.btn:hover {
  background: $MAIN_COLOR-ACTIVE;
  //text-shadow: 1px 1px black;
}

.form.disabled{
  color: $MAIN_COLOR-DISABLED;
  border: $MAIN_COLOR-DISABLED solid;
}

.form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
  display: block;
  line-height: $form-line-height;
  font-size: $font-size;
  text-decoration: blink;
  color: $font-color;
  margin: $form-margin auto;
  width: 80%;
  text-align: center;
  height: $form-height;
  padding: $form-padding;
  border-radius: $form-height;
}

.avatar {
  min-width: 60px;
  max-width: 200px;
  border-radius: 50%;
  width: 20%;
  @media (orientation: portrait) {
    width: $avatar-size vw;
  }
  @media (orientation: landscape) {
    width: $avatar-size vh;
  }
}

.lang-bar {
  padding: 2% 0;
  position: absolute;
  left: 20%;
}

/***** FORM VALIDATION ****/

//input.ng-invalid{
//  border: 2px solid #FF0000;
//}
//
//input.ng-invalid-email{
//  border: 2px solid #FF0000;
//}

/***** PLAY BUTTON ******/
$play-btn-min-size: 60px;
$play-btn-font-size: 25px;
$play-btn-size-in-percents: 25%;

.play-btn .play-btn-img {
  min-width: $play-btn-min-size;
  position: relative;
  width: $play-btn-size-in-percents;
  width: $play-btn-size;
}
a.play-btn{
  text-decoration: blink;
  color: #FFF;
}

.logout {
  top: 1%;
}

.play-btn span {
  position: relative;
  min-font-size: $play-btn-min-size/4;

}
