
.btn{
  background: $MAIN_COLOR;
  vertical-align: middle;
  display: inline-block;
}
input.form{
  background: $MAIN_BACKGROUND_COLOR;
  border: $form-border-size solid white;
}

.btn:hover {
  background: $MAIN_COLOR-ACTIVE;
  text-shadow: 1px 1px black;
}

.form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
  display: block;
  line-height: $form-line-height;
  font-size: $font-size;
  text-decoration: blink;
  color: $font-color;
  margin: $form-margin auto;
  width: 80%;
  text-align: center;
  height: $form-height;
  padding: $form-padding;
  border-radius: $form-height;
}

.avatar {
  min-width: 60px;
  max-width: 150px;
  border-radius: 50%;
  width: $avatar-size;
}

.lang-bar {
  position: absolute;
  left: 20%;
}

/***** FORM VALIDATION ****/

//input.ng-invalid{
//  border: 2px solid #FF0000;
//}
//
//input.ng-invalid-email{
//  border: 2px solid #FF0000;
//}

/***** PLAY BUTTON ******/
$play-btn-min-size: 60px;

.play-btn .play-btn-img {
  min-width: $play-btn-min-size;
  left: $play-btn-size/4;
  position: relative;
  width: $play-btn-size;
}
a.play-btn{
  text-decoration: blink;
  color: #FFF;
}

.play-btn span {
  position: relative;
  @media screen and (max-width: 239px) {
    $play-btn-size: $play-btn-min-size;
    bottom: $play-btn-size/2;
    right: $play-btn-size/1.65;
    font-size: $play-btn-size/4;
    min-font-size: $play-btn-min-size/4;
  }
 @media screen and (min-width: 240px) {
    bottom: $play-btn-size/2;
    right: $play-btn-size/1.65;
    font-size: $play-btn-size/4;
    min-font-size: $play-btn-min-size/4;
 }
}
