
.btn{
  background: $MAIN_COLOR;
  vertical-align: middle;
  display: inline-block;
}
input.form{
  background: $MAIN_BACKGROUND_COLOR;
  border: $form-border-size solid white;
}

.form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
  display: block;
  line-height: $form-line-height;
  font-size: $font-size;
  text-decoration: blink;
  color: $font-color;
  margin: $form-margin auto;
  width: 80%;
  text-align: center;
  height: $form-height;
  padding-left: $form-height;
  padding-right: $form-height;
  border-radius: $form-height;
}
