$timer-height: 4%;
$image-bloc-bg-color: #14191b;
$correct-color:       #05c66f;
$incorrect-color:     $MAIN_COLOR;

.countdown-timer {
  height: $timer-height;
  background: $MAIN_COLOR;
}
.game {
  height: 94%;
}

.buttons-bar.landscape {
  float: left;
  margin: 0 auto;
  width: 25%;
  overflow: hidden;
}

.game .image-block {
  margin: 0 auto;
  background-color: $image-bloc-bg-color;
}

.game .image-block .main-image {
  width: 100%;
  height: auto;
}

.buttons-bar {
  padding: 10px;
  width: 100%;
}

.form.small {
  background-color: $image-bloc-bg-color;
  padding: 10px;
  padding: 1vw;
  margin: 10px auto;
  margin: 2vw auto;
  min-height: 25px;
  min-font-size: 13px;
  line-height: 1px;
}
.landscape .form.small {
  background-color: $image-bloc-bg-color;
  padding: 0px;

  min-height: 15px;
  min-font-size: 8px;
  font-size: $font-size;
}

.buttons-bar {
  margin: 3px 0;
  margin: 1vw 0;
  width: 100%;
}

.buttons-bar tr {
  width: 100%;
}

/******* PROGRESS BAR **********/

.progress-bar {
  width: 100%;

  height: auto;
}

.landscape .progress-bar {
  width: 25%;
  float: right;
  height: auto;
}

.progress-bar .progress {
  text-align: center;
  width: 100%;
  height: 10%;
}


.landscape .progress-bar .progress {
  text-align: center;
  margin: 0.5vh;
  padding: 0px;
}

.landscape .progress-bar .progress .landscape-point {

}

.progress-bar .progress .point {
  color: $MAIN_COLOR-DISABLED;


  @media screen and (max-width: 239px) {
    font-size: $font-size * 2;
    font-size: 15vw;
  }
  @media screen and (min-width: 240px) and (max-width: $SCREEN-SMALL + 2) {
    font-size: $font-size * 3;
    font-size: 15vw;
  }
  @media screen and (min-width: $SCREEN-SMALL + 2 )  and (max-width: $SCREEN-MEDIUM) {
    font-size: $font-size * 4;
    font-size: 15vw;
  }
  @media screen and (min-width: $SCREEN-MEDIUM)  and (max-width: $SCREEN-LARGE) {
    font-size: $font-size * 5;
    font-size: 15vw;
  }
  @media screen and (min-width: $SCREEN-LARGE )  and (max-width: $SCREEN-LARGEST) {
    font-size: $font-size * 6;
    font-size: 15vw;
  }
  @media screen and (min-width: $SCREEN-LARGEST) {
    font-size: $font-size * 8;
    font-size: 15vw;
  }

}

.progress-bar .progress .point.correct {
  color: $correct-color;
}

.progress-bar .progress .point.incorrect {
  color: $incorrect-color;
}

/********* VARIANTS  *********/
.variant {
  height: 50%;
  background: $MAIN_BACKGROUND_COLOR;
}

.variant .item {
  padding: 0;
  margin: 2% 0;
  height: 100%;
  color: #fff;
  background-color: $MAIN_BACKGROUND_COLOR;
  border-style: none;
}


.variant .item.correct {
  color: $correct-color;
}

.variant .item.incorrect {
  color: $incorrect-color;
}
