.form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  @media (orientation:landscape) {

    line-height: $form-line-height + $diff * 0.5;
    margin: $form-margin + $diff * 0.5 auto;
    font-size: $font-size + $diff * 0.5;
    height: $form-height + $diff * 0.5;
    height: 10vh;
    padding-left: 2px + $diff * 0.5;
    padding-right: 2px + $diff * 0.5;
    border-radius: $form-height + $diff * 0.5;
  }

  line-height: $form-line-height + $diff;
  margin: $form-margin + $diff auto;

  font-size: $font-size + $diff;
  height: $form-height + $diff;
  padding-left: 2px + $diff;
  padding-right: 2px + $diff;
  border-radius: $form-height + $diff;
}

.form.small {
  height: ($form-height + $diff)*0.65;
  height: 10vw;
  font-size:  ($font-size + $diff)*0.65;
  font-size: 5vw;
}
.landscape .form.small {
  height: ($form-height + $diff)*0.65;
  height: 9vh;
  font-size:  ($font-size + $diff)*0.65;
  font-size: 2.5vw;
}

.title{
  @media (orientation:landscape) {
    font-size: ($font-size + $diff*2)/2;
    font-size: 4.5vw;
  }
  font-size: $font-size + $diff;
  font-size: 9vw;
  margin-bottom: $form-margin-bottom + $diff;
  margin-top: $form-margin-top + $diff;
}

.bonus.points {
  @media (orientation:portrait) {
    font-size: ($font-size + $diff) * 4;
    font-size: 35vw;
  }

  @media (orientation:landscape) {
    font-size: ($font-size + $diff) * 2;
    font-size: 25vh;
  }
}

.variant .item {
  line-height: 100%;
  font-size: $font-size * 0.65 + $diff;
  font-size: 8vh;
}

@import "profile";
