/****** screen sizes ******/
/***** COLORS ******/
/****** AVATAR *******/
html {
  font-weight: 300; }

td .form.small {
  padding: 10px; }

.countdown-timer {
  height: 4%;
  background: #f45454; }

.game {
  height: 94%; }

.game .image-block {
  background-color: #14191b; }

.game .image-block .main-image {
  width: 100%;
  height: auto; }

.buttons-bar {
  padding: 10px;
  width: 100%; }

.form.small {
  background-color: #14191b;
  padding: 10px;
  padding: 1vw;
  margin: 10px auto;
  margin: 2vw auto;
  min-height: 25px;
  min-font-size: 13px;
  line-height: 1px; }

.buttons-bar {
  margin: 3px 0;
  margin: 1vw 0;
  width: 100%; }

.buttons-bar tr {
  width: 100%; }

/******* PROGRESS BAR **********/
.progress-bar {
  width: 100%;
  height: auto; }

.progress-bar .progress {
  text-align: center;
  width: 100%;
  height: 10%; }

.progress-bar .progress .point {
  color: #1a2125; }
  @media screen and (max-width: 239px) {
    .progress-bar .progress .point {
      font-size: 30px;
      font-size: 15vw; } }
  @media screen and (min-width: 240px) and (max-width: 321px) {
    .progress-bar .progress .point {
      font-size: 45px;
      font-size: 15vw; } }
  @media screen and (min-width: 321px) and (max-width: 479px) {
    .progress-bar .progress .point {
      font-size: 60px;
      font-size: 15vw; } }
  @media screen and (min-width: 479px) and (max-width: 719px) {
    .progress-bar .progress .point {
      font-size: 75px;
      font-size: 15vw; } }
  @media screen and (min-width: 719px) and (max-width: 1200px) {
    .progress-bar .progress .point {
      font-size: 90px;
      font-size: 15vw; } }
  @media screen and (min-width: 1200px) {
    .progress-bar .progress .point {
      font-size: 120px;
      font-size: 15vw; } }

.progress-bar .progress .point.correct {
  color: #01ff8d; }

.progress-bar .progress .point.incorrect {
  color: #f45454; }

/********* VARIANTS  *********/
.variant {
  height: 50%;
  background: #1a2125; }

.variant .item {
  padding: 0;
  margin: 2% 0;
  height: 100%;
  color: #fff;
  background-color: #1a2125;
  border-style: none; }

.variant .item.correct {
  color: #01ff8d; }

.variant .item.incorrect {
  color: #f45454; }

.btn {
  background: #f45454;
  vertical-align: middle;
  display: inline-block; }

input.form {
  background: #1a2125;
  border: 2px solid white; }

.btn:hover {
  background: #c85656; }

.form.disabled {
  color: #1a2125;
  border: #1a2125 solid; }

.form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  display: block;
  line-height: 20px;
  font-size: 15px;
  text-decoration: blink;
  color: #fff;
  margin: 10px auto;
  width: 80%;
  text-align: center;
  height: 40px;
  padding: 5px;
  border-radius: 40px; }

.avatar {
  min-width: 60px;
  max-width: 200px;
  border-radius: 50%;
  width: 20%; }

.lang-bar {
  position: absolute;
  left: 20%; }

/***** FORM VALIDATION ****/
/***** PLAY BUTTON ******/
.play-btn .play-btn-img {
  min-width: 60px;
  position: relative;
  width: 25%;
  width: 25vw; }

a.play-btn {
  text-decoration: blink;
  color: #FFF; }

.logout {
  top: 1%; }

.play-btn span {
  position: relative;
  min-font-size: 15px; }

.red {
  background-color: #f45454; }

.title.bonus, .bonus.text {
  font-weight: 400;
  color: #9F3838; }

.bonus.points {
  color: #fff; }

.bonus.text {
  color: #fff; }

.form.red {
  background-color: #f45454; }

.overflow-scroll.red {
  background-color: #f45454; }

.spinner.spinner-calm {
  stroke: #FFFFFF;
  fill: #1a2125; }

.spinner svg {
  width: 100%;
  height: 100%; }

.red {
  background-color: #f45454; }

.title, .bonus.text {
  margin-bottom: 10px;
  color: #f45454;
  margin-top: 10px; }

.btn.lag-button.selected {
  background: #f45454; }

.btn.lag-button {
  background: #1a2125; }

.center {
  text-align: center; }

.has-header {
  top: 0px; }

.overflow-scroll {
  background: #1a2125; }

@media (max-width: 319px) {
  .form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    line-height: 21px;
    margin: 11px auto;
    font-size: 16px;
    height: 41px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 41px; }
  .form.small {
    background-color: #14191b;
    height: 26.65px;
    height: 10vw;
    font-size: 10.4px;
    font-size: 5vw; }
  .title, .bonus.text {
    font-size: 16px;
    font-size: 9vw;
    margin-bottom: 11px;
    margin-top: 11px; }
  .bonus.points {
    font-size: 64px;
    font-size: 25vw; }
  .balance {
    font-size: 17px;
    font-size: 9vw; }
  .balance-block, .username {
    color: #5a5a5a;
    font-size: 8.88889px; }
  .variant .item {
    line-height: 100%;
    font-size: 10.75px; }
  .btn.lag-button {
    width: 30%;
    width: 10vw;
    height: 20.55556px;
    height: auto;
    font-size: 8.05556px;
    padding: 1px;
    margin: 5px auto;
    line-height: 15.55556px; }
  .username {
    color: #f45454;
    font-weight: 500; } }
  @media screen and (max-width: 319px) and (orientation: portrait) {
    .username {
      font-size: 6vw; } }

input.ng-invalid {
  border: solid #ffdad4; }

/****** MEDIUM SCREEN ******/
@media (max-width: 479px) and (min-width: 320px) {
  .form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    line-height: 30px;
    margin: 20px auto;
    font-size: 25px;
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50px; }
  .form.small {
    background-color: #14191b;
    height: 32.5px;
    height: 10vw;
    font-size: 16.25px;
    font-size: 5vw; }
  .title, .bonus.text {
    font-size: 25px;
    font-size: 9vw;
    margin-bottom: 20px;
    margin-top: 20px; }
  .bonus.points {
    font-size: 100px;
    font-size: 25vw; }
  .balance {
    font-size: 35px;
    font-size: 9vw; }
  .balance-block, .username {
    color: #5a5a5a;
    font-size: 13.88889px; }
  .variant .item {
    line-height: 100%;
    font-size: 19.75px; }
  .btn.lag-button {
    width: 30%;
    width: 10vw;
    height: 25.55556px;
    height: auto;
    font-size: 13.05556px;
    padding: 1px;
    margin: 5px auto;
    line-height: 20.55556px; }
  .username {
    color: #f45454;
    font-weight: 500; } }
  @media screen and (max-width: 479px) and (min-width: 320px) and (orientation: portrait) {
    .username {
      font-size: 6vw; } }

/****** MEDIUM SCREEN ******/
@media (max-width: 719px) and (min-width: 480px) {
  .form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    line-height: 35px;
    margin: 25px auto;
    font-size: 30px;
    height: 55px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 55px; }
  .form.small {
    background-color: #14191b;
    height: 35.75px;
    height: 10vw;
    font-size: 19.5px;
    font-size: 5vw; }
  .title, .bonus.text {
    font-size: 30px;
    font-size: 9vw;
    margin-bottom: 25px;
    margin-top: 25px; }
  .bonus.points {
    font-size: 120px;
    font-size: 25vw; }
  .balance {
    font-size: 45px;
    font-size: 9vw; }
  .balance-block, .username {
    color: #5a5a5a;
    font-size: 16.66667px; }
  .variant .item {
    line-height: 100%;
    font-size: 24.75px; }
  .btn.lag-button {
    width: 30%;
    width: 10vw;
    height: 28.33333px;
    height: auto;
    font-size: 15.83333px;
    padding: 1px;
    margin: 5px auto;
    line-height: 23.33333px; }
  .username {
    color: #f45454;
    font-weight: 500; } }
  @media screen and (max-width: 719px) and (min-width: 480px) and (orientation: portrait) {
    .username {
      font-size: 6vw; } }

@media (max-width: 1200px) and (min-width: 720px) {
  .form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    line-height: 60px;
    margin: 50px auto;
    font-size: 55px;
    height: 80px;
    padding-left: 42px;
    padding-right: 42px;
    border-radius: 80px; }
  .form.small {
    background-color: #14191b;
    height: 52px;
    height: 10vw;
    font-size: 35.75px;
    font-size: 5vw; }
  .title, .bonus.text {
    font-size: 55px;
    font-size: 9vw;
    margin-bottom: 50px;
    margin-top: 50px; }
  .bonus.points {
    font-size: 220px;
    font-size: 25vw; }
  .balance {
    font-size: 95px;
    font-size: 9vw; }
  .balance-block, .username {
    color: #5a5a5a;
    font-size: 30.55556px; }
  .variant .item {
    line-height: 100%;
    font-size: 49.75px; }
  .btn.lag-button {
    width: 30%;
    width: 10vw;
    height: 42.22222px;
    height: auto;
    font-size: 29.72222px;
    padding: 1px;
    margin: 5px auto;
    line-height: 37.22222px; }
  .username {
    color: #f45454;
    font-weight: 500; } }
  @media screen and (max-width: 1200px) and (min-width: 720px) and (orientation: portrait) {
    .username {
      font-size: 6vw; } }

@media (min-width: 1201px) {
  .form, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    line-height: 80px;
    margin: 70px auto;
    font-size: 65px;
    height: 100px;
    padding-left: 62px;
    padding-right: 62px;
    border-radius: 100px; }
  .form.small {
    background-color: #14191b;
    height: 65px;
    height: 10vw;
    font-size: 42.25px;
    font-size: 5vw; }
  .title, .bonus.text {
    font-size: 65px;
    font-size: 9vw;
    margin-bottom: 70px;
    margin-top: 70px; }
  .bonus.points {
    font-size: 260px;
    font-size: 25vw; }
  .balance {
    font-size: 125px;
    font-size: 9vw; }
  .balance-block, .username {
    color: #5a5a5a;
    font-size: 36.11111px; }
  .variant .item {
    line-height: 100%;
    font-size: 63.25px; }
  .btn.lag-button {
    width: 30%;
    width: 10vw;
    height: 53.33333px;
    height: auto;
    font-size: 35.83333px;
    padding: 1px;
    margin: 5px auto;
    line-height: 38.33333px; }
  .username {
    color: #f45454;
    font-weight: 500; } }
  @media screen and (min-width: 1201px) and (orientation: portrait) {
    .username {
      font-size: 6vw; } }

.btn.lag-button {
  font-weight: 300; }

.btn.lag-button.landscape {
  display: initial;
  float: right;
  margin: 0 3%; }
